# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
env/
.venv/

# Databases
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Distribution / Build
dist/
build/
*.egg-info/